<section class="home">
    <div class="header">
        <h3>أجندة التدريب</h3>
        <h3>{{semesterName}} {{semesterYear}}</h3>
    </div>
    <app-spinner *ngIf="!isLoading"></app-spinner>
    <div class="content" *ngIf="isLoading">
        <div class="row">
            <div class="col start-training">
                <div *ngFor="let data of startAgenda">
                    <h6>{{data.title}}</h6>
                    <p><img src="assets/images/calender.png"/>{{data.date}}</p>
                </div>
            </div>
            <div class="col end-training">
                <div *ngFor="let data of endAgenda">
                    <h6>{{data.title}}</h6>
                    <p><img src="assets/images/calender.png"/>{{data.date}}</p>
                </div>
            </div>
        </div>
    </div>
</section>