<section class="signup">
    <div class="wrapper">
        <div class="content">
            <div class="title">
                <h3>تسجيل الإشتراك</h3>
                <img class="hr-img" src="assets/images/border-bottom.png"/>
            </div>

            <div class="switch">
                <div class="student" (click)="showStudentForm()">
                    <img [src]="isStudent?'assets/icons/read.png':'assets/icons/read-std.png'" [style]="{ 'background-image': isStudent? 'url(../../../assets/icons/bg-blue.png)' : 'url(../../../assets/icons/bg-white.png)', 'background-size':'contain', 'background-repeat': 'no-repeat'}"/>
                    <p>الطالب</p>
                </div>
            </div>

            <div *ngIf="isStudent">
                <div *ngIf="!isIdExist" class="check-std-id">
                    <form [formGroup]="studentForm">
                        <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="الرقم الجامعي" formControlName="UniversityStudentNum">
                        </div>
                        <div class="invalid" *ngIf="!studentForm.get('UniversityStudentNum').value && errorMsg">أدخل رقمك الجامعي</div>
                        <div class="invalid" *ngIf="errorId">غلط في رقمك الجامعي</div>
                        <button class="btn btn-primary check-id" (click)="checkId()">فحص وإكمال عملية تسجيل الإشتراك</button>                        
                        <app-spinner *ngIf="isLoading"></app-spinner>
                    </form>
                </div>

                <div *ngIf="isIdExist" class="signup-form">
                    <form [formGroup]="studentForm">
                    <div class="std-info">
                        <p>بيانات الطالب</p>              
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="البريد الإلكتروني" formControlName="email">
                            </div>
                            <div class="invalid" *ngIf="studentForm.get('email').value && studentForm.get('email').errors">
                                please enter a correct email that include "@xxxxxx"
                              </div>
                            <div class="row">
                                <div class="form-group col">
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="كلمة المرور" formControlName="password">
                                    <div class="invalid" *ngIf="studentForm.get('password').value && studentForm.get('password').errors">الرجاء إدخال كلمة مرور من 6 حروف وأرقام</div>
                                </div>
                                <div class="form-group col">
                                    <input type="password" class="form-control" id="exampleInputPassword" placeholder="تأكيد كلمة المرور" formControlName="confirmPassword">
                                </div>
                                <div class="invalid" *ngIf="studentForm.hasError('passwordMismatch')">أدخل كلمة مرور متطابقة</div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="رقم الهاتف" formControlName="phoneNumber">
                                <div class="invalid" *ngIf="studentForm.get('phoneNumber').errors?.['isNumberic']">
                                  please enter a number
                                </div>
                                <div class="invalid" *ngIf="studentForm.get('phoneNumber').errors?.['maxMinLengthC']">
                                    please enter valid phone number length :
                                    {{studentForm.get('phoneNumber').errors?.['min']}}
                                </div>
                                <div class="invalid" *ngIf="studentForm.get('phoneNumber').errors?.['startNumber']">
                                    please enter a number start with '059' or '056'
                                </div>
                            </div>
                    
                    </div>

                    <div class="training-info">
                        <p>بيانات التدريب</p>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="اسم الشركة" formControlName="nameTrainingCompany">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="عنوان الشركة" formControlName="addressCompany">
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <input type="text" class="form-control"  placeholder="مجال التدريب" formControlName="trainingField">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <label for="start-date">تاريخ بداية التدريب</label>
                                    <input type="date" id="start-date" class="form-control" formControlName="startTrain">
                                </div>
                                <div class="form-group col">
                                    <label for="end-date">تاريخ نهاية التدريب</label>
                                    <input type="date" id="end-date" class="form-control" formControlName="endTrain">                            
                                </div>
                            </div>

                            <div>
                                <label for="acceptance-img" class="accept-img">إرفاق صورة الموافقة على التدريب</label>
                                <div class="form-group">
                                    <input type="file" id="acceptance-img" (change)="onFileSelected($event)">
                                </div>
                            </div>
                            <div class="invalid" *ngIf="studentForm.invalid && errorMsg">
                                الرجاء ملء جميع الحقول
                            </div>
                            <button class="btn btn-primary submit" (click)="signup()">تسجيل الإشتراك</button>
                    </div>
                </form>
                </div>
            </div>
         </div>
    </div>
</section>
