.training-data{
    margin: 50px 0;
    h2, h5, h6{
        color: var(--primary-color);
    }
    .data{
        margin-top: 30px;
        h6{
            margin-bottom: 22px;
        }
        p{
            margin-right: 12px;
        }
    }
    .changeCompany{
        text-align: left;
    }
    img{
        margin-left: 15px;
    }
}