.home{
    margin: var(--margin-top);
    .header{
        h3{
            font-weight: bold;
        }
    }
    .content{
        margin-top: 25px;
        .info{
            align-items: center;
            margin: 20px 0;
        }
        .companyNum{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .number{
            background: var(--bg-color);
            text-align: center;
            font-size: 31px;
            font-weight: bold;
            border-radius: 5px;
            color: var(--content-color);
            margin-right: -5%;
        }
        .number2{
            margin-right: -9%;
        }
    }
}
.modal{
    .modal-body{
        .border-right{
            border-right: 5px solid var(--bg-color);
        }
        .borderBottom{
            border-bottom: 5px solid var(--bg-color);
        }
        form{
            header{
                margin: 11px 0 26px;
                label{
                    font-weight: 500;
                    margin-left: 10px;
                }
                div{
                    margin-bottom: 14px;
                    input{
                        border: 2px solid var(--primary-color);
                        border-radius: 5px;
                    }
                }
            }
            .agenda{
                margin:20px 0;
                input{
                    border:none;
                    margin:10px 0;
                }
            }
            .end{
                border-right: 3px solid var(--bg-color);
            }
        }

    }
}