<section class="profile">
    <h2>الملف الشخصي</h2>
    <div class="content">
        <div class="row">
            <div class="col">
                <h6>الإسم</h6>
                <p>أسيل الودية</p>

                <h6>البريد الإلكتروني</h6>
                <p>asil@gmail.com</p>

                <h6>كلمة المرور</h6>
                <p>********</p>
                <button type="button" class="btn btn-light">تغيير كلمة المرور</button>

            </div>
            <div class="col">
                <h6>الرقم الجامعي</h6>
                <p> 20180401</p>

                <h6>رقم الهاتف</h6>
                <p>0592894843</p>

                <button type="button" class="btn btn-light">تغيير رقم الهاتف</button>
            </div>
        </div>
    </div>
</section>
