.profile{
    margin-top: 100px;
    h2, h6{
        color: var(--primary-color);
    }
    .content{
        margin-right: 15px;
        margin-top: 30px;
        p{
            margin-top: 15px;
        }
        .changePass, .changePhone{
            text-align: left;
        }
    }
}