.forgetPasswoed{
    padding: 144px 232px 107px 0;
    background-image: url("../../../assets/images/auth.png");
    background-repeat: no-repeat;
    background-size: 70%;

    .wrapper{
        width: 630px;
        border-radius: 5px;
        padding: 50px 80px;
        background: rgb(175, 175, 175,0.5);

        .title{
            padding: 0 90px;
            color: var(--content-color);
        }
        .hr-img{
            width: 100%;
            margin-top: -31px;
            margin-right: -6px;
        }
        form{
            label{
                margin-bottom: 15px;
            }
            input{
                height: 54px;
                margin-bottom: 15px;
            }
        }
        .repassword-btn{
            text-align: center;
            margin-top: 35px;
        }
    }
}