<section class="forgetPasswoed">
    <div class="wrapper">
        <div class="content" *ngIf="!isEmailVaild">
            <div class="title">
                <h3>هل نسيت كلمة المرور؟</h3>
                <img class="hr-img" src="assets/images/hr.png"/>
            </div>       
            <form [formGroup]="forgetPasswordForm">
                <label>أدخل بريدك الإلكتروني</label>                 
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="البريد الإلكتروني" formControlName="email">
                </div>   
                <div class="invalid" *ngIf="forgetPasswordForm.get('email').value && forgetPasswordForm.get('email').errors">
                  please enter a correct email that include "@xxxxxx"
                </div>
                <div class="invalid" *ngIf="!forgetPasswordForm.get('email').value && errorMsg">أدخل البريد الإلكتروني</div>
                <div class="repassword-btn">
                    <app-button [label]="label" (onClick)="confirmEmail()"></app-button>
                </div>             
            </form>
        </div>

        <div class="content" *ngIf="isEmailVaild">
            <div class="title">
                <h3> إعادة تعيين كلمة المرور</h3>
                <img class="hr-img" src="assets/images/hr.png"/>
            </div>       
            <form [formGroup]="forgetPasswordForm">                
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="كلمة المرور الجديدة" formControlName="newPassword">
                    <div class="invalid" *ngIf="forgetPasswordForm.get('newPassword').value && forgetPasswordForm.get('newPassword').errors">الرجاء إدخال كلمة مرور من 6 حروف وأرقام</div>
                    <input type="password" class="form-control" placeholder="تأكيد كلمة المرور" formControlName="confirmPassword">
                    <div class="invalid" *ngIf="forgetPasswordForm.get('confirmPassword').value && forgetPasswordForm.hasError('passwordMismatch')">أدخل كلمة مرور متطابقة</div>
                </div>   
                <div class="repassword-btn">
                    <app-button [label]="label" (onClick)="passwordReset()"></app-button>
                </div>             
            </form>
        </div>
    </div>
</section>