.home{
background-color: #FBFBFB;

h3{
    text-align: center;
    color: var(--primary-color);
}
.header-section{
    margin-bottom: 50px;

    .img-bottom{
        width: 16%;
        margin: auto;
        position: absolute;
        right: 42%;
    }
}

.training-importance{
    margin: 40px 0;
    .col{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .card{
            width: 79%;
            border: none;
            padding: 35px 8px;
            border-radius: 9px;
            color: var(--primary-color);
            
            &:hover{
                background-color: var(--primary-color);
                color: var(--content-color);
                cursor: pointer;
                transition: background-color 0.5s ease-out;
            }
        }
        .card-icon{
            background-color: var(--primary-color);
            width: 69px;
            height: 71px;
            display: flex;
            justify-content: center;
            position: relative;
            top: 5%;
            z-index: 9;
            box-shadow: 3px 3px 6px 0px;
            border-radius: 5px;
            img{
                width: 83%;
            }
        }
        .active{
            background-color: var(--primary-color);
            color: var(--content-color);
            font-weight: bold;
        }
        .icon-active{
            background-color: var(--content-color);
        }
    }
}

#training-req{
    margin: 50px 0;
    .req-img{
        width: 100%;
        height: 70%;
        border-radius: 10px;
    }
    .req-contents{
        justify-content: space-evenly;
        margin-top:10px;
        margin-bottom: -77px;
        P{
            width: 409px;
            color: var(--primary-color);
        }
    }
    @media only screen and (min-width: 1200px) {
        .vertical {           
                border-left: 6px solid var(--primary-color);
                height: 823px;
                position:absolute;
                border-radius: 10px;
                left: 50%;
            }
            .popline,.popline2{
                position: relative;
            }
            
            .popline::after{
                content: " ";
                position: absolute;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #AFAFAF;
                left: -76px;
                top: 0;
            }
            
            .popline2::after{
                content: " ";
                position: absolute;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #AFAFAF;
                right: -83px;
                top: 0;
            }
    }
    
}
}
