<section class="hero">
    <div class="container-sm">
        <div class="header">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                <a class="navbar-brand" href="#">Logo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#home">الرئيسية</a>
                    <a class="nav-link" href="#importance">أهمية التدريب</a>
                    <a class="nav-link" href="#">الشركات التدريبية</a>
                    <a class="nav-link" href="#">متطلبات التدريب</a>
                    <button type="button" class="btn btn-light">تسجيل الدخول</button>
                    <button type="button" class="btn btn-dark">تسجيل الاشتراك</button>
                    </div>
                </div>
                </div>
            </nav>
        </div>

        <section id="home" class="hero-section">
            <div>
                <h1>التدريب الميداني</h1>
                <p>هو أحد مقررات الخطط الدراسية فيه يقوم الطالب بالعمل متفرغاً لفترة محددة بإحدى الجهات الحكومية أو العامة المناسبة لتخصصه وذلك لإكسابه الخبرة العملية وإيصاله إلى المعايير الاحترافية المتميزة.
                </p>
            </div>
        </section>
    </div>
</section>

<section id="importance" class="training-importance">
    <div class="container-sm">
        <h1>أهمية التدريب</h1>
        <hr>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <p class="card-text"> وسيلة فعالة لمساعدة الطالب على اكتساب قدرات ومهارات جديدة لم يكن يمتلكها، وتمكن هذه المهارات الطالب من توسيع مفاهيمه، وتعديل اتجاهاته، وترسيخ قدرته على الابتكار، والإبداع، والتجديد يربط بين الجانب (النظري) المعرفة المكتسبة، والجانب العملي (العمل) المنتَج.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card active">
            <div class="card-body">
              <p class="card-text"> وسيلة فعالة لمساعدة الطالب على اكتساب قدرات ومهارات جديدة لم يكن يمتلكها، وتمكن هذه المهارات الطالب من توسيع مفاهيمه، وتعديل اتجاهاته، وترسيخ قدرته على الابتكار، والإبداع، والتجديد يربط بين الجانب (النظري) المعرفة المكتسبة، والجانب العملي (العمل) المنتَج.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <p class="card-text"> وسيلة فعالة لمساعدة الطالب على اكتساب قدرات ومهارات جديدة لم يكن يمتلكها، وتمكن هذه المهارات الطالب من توسيع مفاهيمه، وتعديل اتجاهاته، وترسيخ قدرته على الابتكار، والإبداع، والتجديد يربط بين الجانب (النظري) المعرفة المكتسبة، والجانب العملي (العمل) المنتَج.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
