.home{
background-color: #FBFBFB;

h3{
    text-align: center;
    color: var(--primary-color);
}
.header-section{
    margin-bottom: 50px;

    .img-bottom{
        width: 18%;
        margin: auto;
        position: absolute;
        right: 42%;
    }
}
.hero{
    background-image: url("../../../assets/images/hero-background.png");
    color: var(--content-color);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    .hero-section{
        padding: 200px 22px 217px;
       p{
         width: 66%;
         margin-top: 41px;
        }
    }
    button{
        margin-left:27px;
        margin-bottom: 10px;
        padding: 10px;
    }
    .login{
        color: var(--primary-color);
    }
    .signup{
        border: 5px solid var(--content-color);
        background: none;
        color: var(--content-color);
        font-weight: bold;
    }
    .navbar{
     .navbar-nav{
        align-items: baseline;
     }
     .navbar-brand{
        img{
            width: 273px;
            padding-left: 27px;
        }
     }
     .nav-link{
        padding-left: 19px;
        padding-right: 0;
        color: var(--content-color);
       &:hover{
            border-bottom: 2px solid #FFF;
            // &::after{
            //     content: "aaaaaaaaa";
            //     background-image: url("../../../assets/images/hover-img.png");
            //     width: 10%;
            //     background-repeat: no-repeat; 
            //     position: absolute;  
            //     top: 50%;
            //     color: var(--primary-color);
            // }
            
        }
     }
     
    }
}

.training-importance{
    margin-top: 30px;
    .col{
        .card{
            margin: 20px;
            border: none;
            padding: 20px 10px;
            border-radius: 9px;
            color: var(--primary-color);
        }
        .active{
            background-color: var(--primary-color);
            color: var(--content-color);
        }
    }
}

#training-req{
    .req-img{
        width: 327px;
    }
    .req-contents{
        justify-content: space-evenly;
        margin:40px 0;
        P{
            width: 414px;
            color: var(--primary-color);
        }
    }
    @media only screen and (min-width: 1200px) {
        .vertical {
            
                border-left: 6px solid var(--primary-color);
                height: 860px;
                position:absolute;
                border-radius: 10px;
                left: 49%;

            }
            .popline{
                position: relative;
            }
            .popline2{
                position: relative;
            }
            
            .popline::after{
                content: " ";
                position: absolute;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #AFAFAF;
                left: -99px;
                top: 0;
            }
            
            .popline2::after{
                content: " ";
                position: absolute;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #AFAFAF;
                right: -75px;
                top: 0;
            }
    }
    
}

footer{
    background-image: url("../../../assets/images/footer.png");
    background-size: cover;
    background-repeat: no-repeat;   
    text-align: center;
    
    @media screen and (max-width: 1200px) {
            background-position: center; 
    } 
    div{
        padding: 90px;
        color: var(--content-color);
    }
}
    

}