<div class="home">
  <!-- Hero Section -->
  <app-header></app-header>

  <!-- Training Importance -->
  <section id="importance" class="training-importance">
      <div class="container-sm">
        <div class="header-section">
          <h3>أهمية التدريب</h3>
          <img class="img-bottom" src="assets/images/hr.png"/>
        </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col" *ngFor="let data of trainingImportanceDtos; let i=index">
            <div class="card-icon" [class]="i==1?'icon-active':''">
              <img src="{{imageSrc}}/{{data.image}}"/>
              
            </div>
            <div [className]="i==1?'card active':'card'">
              <div class="card-body">
                <p class="card-text">{{data.description}}</p>            
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

  <!-- Training Comapny -->
  <section id="company">
    <div class="container-sm">
      <div class="header-section">
        <h3> الشركات التدريبية</h3>
        <img class="img-bottom" src="assets/images/hr.png"/>
      </div>
      <app-slider *ngIf="isLoading" [companyArr]="company" (companyId)="takeID($event)" (modalStatus)="showModal($event)"></app-slider>
      <app-modal  *ngIf="modalStatus && isLoading" [companyArr]="company" [id]="idImg" (closedModal)="closedModel($event)"></app-modal>
    </div>
  </section>

  <!-- Training Requirements -->
  <section id="training-req">
    <div class="container-sm">
      <div class="header-section">
        <h3>متطلبات التدريب</h3>
        <img class="img-bottom" src="assets/images/hr.png"/>
      </div>
      <div class = "vertical"></div>
      <div class="req-contents row row-cols-1 row-cols-md-3 g-4" *ngFor="let item of requirements; let index=index">
        <ng-container *ngIf="index %2 ==0; else elseBlock">
          <div class="popline">
            <p>{{item.description}}</p>
          </div>
          <div>
               <img class="req-img" [src]="imageSrc + '/'+item.image" />
          </div>
        </ng-container>
        <ng-template #elseBlock>
        <div>
          <img class="req-img" src="{{imageSrc}}/{{item.image}}" />
        </div>
        <div class="popline2" >
          <p>{{item.description}}</p>
        </div> 
      </ng-template> 
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
