.modal{
    display: block;
    background: var(--bg-opacity);
    cursor: pointer;

    .modal-dialog{
        top: 15%;
        max-width:800px
    }
    .company-info{
        padding-right: 20px;
        .name{
            text-align: center;
        }
        .address{
            display: flex;
            justify-content: space-between;
        }
    }
    .company-img{
        display: flex;
        justify-content: center;
    }
}