<div class="modal" (click)="closeModal()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="company-img">
            <img src="{{imageSrc}}/{{companyInfo.logoCompany}}"/>
          </div>
          <div class="company-info">
            <h5 class="name"><a href="{{companyInfo.linkCompany}}" target="_blank">{{companyInfo.name}}</a></h5>
            <p>{{companyInfo.description}}</p>
            <h5>عن الشركة:</h5><br>
            <div class="address">
              <div>
                <h6>الإيميل:</h6><p>{{companyInfo.email}}</p>
              </div>
              <div>
                <h6>رقم التواصل:</h6><p>{{companyInfo.phoneNumber}}</p>
              </div>
              <div>
                <h6>عنوان الشركة:</h6><p> {{companyInfo.address}}</p>
              </div>
            </div>
            <div>
              <h6>مجالات التدريب:</h6><p> {{companyInfo.fieldsOfTrainings}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>