.modal{
    cursor: pointer;
    .company-info{
        padding-right: 20px;
        .name{
            text-align: center;
        }
        .address{
            display: flex;
            justify-content: space-between;
        }
    }
    .company-img{
        display: flex;
        justify-content: center;
    }
}