<section class="hero">
    <div class="container-sm">
        <div class="header">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                <a class="navbar-brand" href="#">
                  <img src="assets/logo/logo-home.png" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                    <div class="home">
                        <a class="nav-link" aria-current="page" href="#home">الرئيسية</a>
                        <img src="assets/images/hover-img.png" alt="Image" class="hover-image">
                    </div>
                    <div class="importance">
                        <a class="nav-link" href="#importance">أهمية التدريب</a>
                        <img src="assets/images/hover-img.png" alt="Image" class="hover-image">
                    </div>
                    <div class="company">
                        <a class="nav-link" href="#company">الشركات التدريبية</a>
                        <img src="assets/images/hover-img.png" alt="Image" class="hover-image">
                    </div>
                    <div class="training-req">
                        <a class="nav-link" href="#training-req">متطلبات التدريب</a>
                        <img src="assets/images/hover-img.png" alt="Image" class="hover-image">
                    </div>
                    <button type="button" class="btn btn-light login" routerLink="/login">تسجيل الدخول</button>
                    <button type="button" class="btn btn-light signup" routerLink="/signup">تسجيل الاشتراك</button>
                    </div>
                </div>
                </div>
            </nav>
        </div>

        <section id="home" class="hero-section">
            <div>
                <h1>{{trainingHeader?.name}}</h1>
                <p>{{trainingHeader?.description}}</p>
              </div>
        </section>
    </div>
</section>