<section class="hero">
    <div class="container-sm">
        <div class="header">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                <a class="navbar-brand" routerLink="/">
                  <img src="assets/logo/logo-home.png" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                    <div class="home">
                        <a class="nav-link" aria-current="page" href="#home">الرئيسية</a>
                        <img src="assets/images/hover-img.png" alt="Image" class="hover-image">
                    </div>
                    <div class="importance">
                        <a class="nav-link" href="#importance">أهمية التدريب</a>
                        <img src="assets/images/hover-img.png" alt="Image" class="hover-image">
                    </div>
                    <div class="company">
                        <a class="nav-link" href="#company">الشركات التدريبية</a>
                        <img src="assets/images/hover-img.png" alt="Image" class="hover-image">
                    </div>
                    <div class="training-req">
                        <a class="nav-link" href="#training-req">متطلبات التدريب</a>
                        <img src="assets/images/hover-img.png" alt="Image" class="hover-image">
                    </div>

                    <div *ngIf="!accountService.isLogin()">
                        <button type="button" class="btn btn-light login" routerLink="/login">تسجيل الدخول</button>
                        <button type="button" class="btn btn-light signup" routerLink="/signup">تسجيل الاشتراك</button>
                    </div>

                    <li class="nav-item dropdown" *ngIf="accountService.isLogin()">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{accountService.isAdminRole()?'أهلاً وسهلاً بالمشرف':'أهلاً وسهلاً بالطالب'}}
                            {{accountService.getName()}}

                        </a>
                        <ul class="dropdown-menu">
                          <li>
                            <a class="dropdown-item" routerLink="{{accountService.isAdminRole()?'/supervisor/profile':'/student/profile'}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                                </svg>
                                <div>
                                    الملف الشخصي
                                </div>
                            </a>
                          </li>
                          <li><hr class="dropdown-divider"></li>
                          <li>
                            <a class="dropdown-item" href="/" (click)="accountService.logout()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                  </svg>
                                  <div>
                                      تسجيل الخروج
                                  </div>
                            </a>
                        </li>
                        </ul>
                      </li>
                    </div>
                </div>
                </div>
            </nav>
        </div>

        <section id="home" class="hero-section">
            <div>
                <h1>{{trainingHeader?.name}}</h1>
                <p>{{trainingHeader?.description}}</p>
              </div>
        </section>
    </div>
</section>