.report{
    margin: var(--margin-top);
    h6{
        margin-bottom: 15px;
    }
    form{
        margin-right: 15px;
        .numTasks{
            width: 50%;
            input{
                margin-bottom: 20px;
            }
        }
        textarea{
            border: 1px solid #ced4da;
            outline-style: none;
        }
        .submit{
            text-align: center;
            margin-top: 30px;
        }
    }

}