button, button:hover{
    background-color: var(--primary-color);
    color: var(--content-color);
    font-weight: 500;
    border: none;
}
button:hover{
    box-shadow: 2px 2px 6px var(--primary-color);
}
.width{
    width: 100%;
    padding: 6px 0;
    border-radius: 5px;
}