button, button:hover{
    background-color: var(--primary-color);
    color: var(--content-color);
    font-weight: 500;
    border: none;
}
button:hover{
    box-shadow: 2px 2px 6px var(--primary-color);
}